# Environment files
.env
.env.*
*.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
.venv*/
env/
venv/

# macOS
.DS_Store

# Logs / temp
*.log
*.tmp
*.swp

# Optional: keep these ignored if you don't want to push them
Nuts_small.zip
*.h5
*.joblib
*.npy

# Streamlit cache
.streamlit/

